/* Custom app styles can override Pico CSS here. */

@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,1..1000;1,1..1000');

@font-face {
    font-family: "JunicodeVF";
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
    src: url("/fonts/JunicodeVF-Roman.woff2") format("woff2");
}

@font-face {
    font-family: "JunicodeVF";
    font-style: italic;
    font-weight: 300 700;
    font-display: swap;
    src: url("/fonts/JunicodeVF-Italic.woff2") format("woff2");
}

:root {
    --pico-font-family: "JunicodeVF",serif;
    --rubric-color: #e22613;
}

nav {
    font-family: "Ysabeau", sans-serif;
    font-variant-numeric: lining-nums;
}

[data-theme=light],
:root:not([data-theme=dark]),
:host(:not([data-theme=dark])) {
    --pico-background-color: #faf7f5;
    --pico-color: black;
}

.officium section {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.officium .columns {
    display: flex;
    flex-direction: row;
}

.officium .columns > * {
    flex: 1 1 0;
}

.officium .columns > *:first-child {
    padding-right: 1rem;
}

.officium .columns > *:not(:first-child) {
    border-left: 1px gray solid;
    padding-left: 1rem;
}

.date {
    font-size: 1.4rem;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 0.5rem;
}

.officium .block-title {
    font-size: 1rem;
    font-variant: small-caps;
    text-align: center;
    color: var(--rubric-color);
    font-weight: normal;
}

.officium .hour-links {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.officium .hour-links a {
    color: black;
    font-variant: small-caps;
    text-transform: lowercase;
    text-decoration: none;
}

.officium .hour-links a[aria-current="page"]{
    color: red;
}

.versicle {
    margin-bottom: 0rem;
}

.response {
    margin-top: 0rem;
}

.heading {
    color: var(--rubric-color);
    font-style: italic;
}

.citation {
    font-style: italic;
}

.marker, .rubric {
    font-style: italic;
    font-size: 0.9rem;
    color: var(--rubric-color);
}

.versicle-mark, .response-mark, .cross, .inline-mark {
    color: var(--rubric-color);
}

.versicle-mark, .response-mark {
    display: inline-block;
    width: 0.8em;
}

.inline-mark {
    font-style: italic;
}

.verse-marker {
    color: var(--rubric-color);
    font-size: 0.8rem;
    margin-right: 0.2rem;
}
